.section-form {
    background-image: url('@img/bg-final/bg-desktop-form.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    background-color: #003DA6;
    position: relative;
    height: 100vh;
    &__content {
        max-width: rem(460);
        position: absolute;
        top: 3%;
        left: 6%;
    }
    &__title {
        font-weight: 800;
        font-size: 34px;
        line-height: 42px;
        margin-bottom: rem(20);
    }
    &__description {
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
    }
}

.form {
    position: absolute;
    top: 38%;
    left: 6%;
    &__content {
        padding: 28px;
        background-color: #003288;
        border-radius: 30px;
        max-width: rem(520);
        min-height: 300px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__chbxes {
        margin-bottom: 12px;
        position: relative;
    }
    &__label {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: rem(12);
        &:nth-child(n+1) {
            flex: 0 0 49%;
        }
    }
    &__input {
        background: $mainColor;
        border: 1.01381px solid #001333;
        border-radius: 8.1105px;
        color: #696969;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        min-height: 38px;
        padding-left: 15px;
        outline: none;
    }
    &__label-cbx {
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
    }
    &__label-text {
        padding-left: 20px;
    }
    &__button {
        margin: 0 auto;
    }
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #003288;
    background-color: $mainColor;
    background-image: url("@img/icons/chbx.svg");
}


/* стили при наведении курсора на checkbox */

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}


/* стили для активного состояния чекбокса (при нажатии на него) */

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}


/* стили для чекбокса, находящегося в фокусе */

.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}


/* стили для чекбокса, находящегося в состоянии disabled */

.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

@media (min-width:em(1920)) {
    .section-form {
        &__content {
            max-width: rem(760);
        }
        &__title {
            font-weight: 800;
            font-size: 75px;
            line-height: 84px;
            margin-bottom: rem(30);
        }
        &__description {
            font-weight: 500;
            font-size: 32px;
            line-height: 56px;
        }
    }
    .form {
        &__content {
            max-width: rem(720);
        }
        &__label {
            font-size: 22px;
            line-height: 30px;
        }
        &__input {
            font-size: 18px;
        }
        &__label-cbx {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

@media (max-width:$tablet) {
    .section-form {
        background-image: url('@img/bg-final/bg-tablet-form.png');
        min-height: 770px;
        &__content {
            padding-top: 20px;
            position: inherit;
            margin-bottom: rem(40);
        }
    }
    .form {
        position: inherit;
    }
}

@media (max-width: em(600)) {
    .form {
        &__row {
            flex-wrap: wrap;
        }
        &__label {
            font-size: 16px;
            line-height: 22px;
            &:nth-child(n) {
                flex: 1 0 100%;
            }
        }
        &__label-cbx {
            font-size: 12px;
            line-height: 18px;
        }
        &__input {
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@media (max-width:$mobileSmall) {
    .section-form {
        min-height: 1080px;
        &__title {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: rem(30);
        }
        &__description {
            font-size: 16px;
            line-height: 22px;
        }
    }
    .form {
        &__content {
            padding: 20px;
            border-radius: 20px;
        }
    }
}